*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-one: #19c8fa ;
    --color-two: rgb(15 116 143 / 70%);
}
.container{
    height: 100vh;
}
.Header{
    display: flex;
    width: 900px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 12px;
    z-index: 1;
}
 .overlay{
    position: absolute;
    width: 100%;
    background-color: #00000066;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 0;
}
.Header a img{
    height: 40px;
}
.Header::after{
    content: '';
    position: absolute;
    bottom: 4px;
    width: 96%;
    height: 1px;
    background: white;
    z-index: 1;
}
ul{
    list-style: none;
}
.Header ul{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.Header ul li{
    margin-right: 15px;
}
.Header ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    transition: .3s;
    padding: 19px 4px;
}
.Header ul li .active{
    text-decoration: none;
    color:var(--color-one);
    font-size: 14px;
    font-family: sans-serif;
    transition: .3s;
    padding: 19px 4px;
    border-bottom: 1px solid var(--color-one) ;
}
.Header ul li a:hover{
    color: var(--color-one);
    border-bottom: 1px solid var(--color-one) ;
    z-index: 2;
}
.Header ul li i{
    color: white;
    border-left: 3px solid white;
    padding-left: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}
.Header ul li .search:hover{
    color: var(--color-one);
    border-left: 3px solid var(--color-one);
}
.menu{
    color: white;
    display: none;
    cursor: pointer;
}
.menu:hover{
    color: var(--color-one);
}
@media (max-width: 446px){
    .Header::after{
        width: 94.4%;
    }
}
.Header .toggle-menu {
    position: absolute;
    right: 11px;
    top: 54px;
    background: rgb(15 116 143 / 87%);;
    color: white;
    list-style: none;
    width: 166px;
    display: none;
    transition: .3s;
    animation-name: display;
    animation-duration: .6s;
}
@keyframes display {
    from{
        opacity: 50%;
    }
    50%{
        opacity: 75%;
    }
    to{
        opacity: 100%;
    }
}
.Header .hidMenu{
    display: none;
    transition: .5s;
}
.Header .toggle-menu .ul{
    padding: 13px;
    position: relative;
}
.Header .toggle-menu .arrow{
    position: absolute;
    top: -15px;
    font-size: 28px;
    color: rgb(15 116 143 / 87%);;
    right: 1px;
    border-bottom: 1px solid #8f8fff00;
}
.Header .toggle-menu .t-s{
    padding: 10px 0 0 0;
}
.Header .toggle-menu input{
    width: 100%;
    margin: 6px 0 0 6px;
    background-color: #8f8fff99;
    border: 1px solid #00000047;
}
.Header .toggle-menu .search{
    display: flex;
}

.Header .toggle-menu .ul li:not(:last-child){
    padding: 7px 0;
    border-bottom: 1px solid white;
    transition: .3s;
}
.Header .toggle-menu .ul li:hover{
    color: var(--color-one);
    padding-left: 3px;
}
.Header .toggle-menu li a{
    text-decoration: none;
    color: white;
}
.Header .toggle-menu li a:hover{
    color: var(--color-one);
    padding-left: 3px;
}
@media (max-width: 992px) {
    .Header ul{
        display: none;
    }
    .Header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 12px;
    }
    .Header::after{
        width: 97.1%;
    }
    .menu{
        display: block;
    }
    .Header .toggle-menu {
        display: block;
    }
    .text{
        width: 100%;
    }

}
@media (min-width: 992px){
    .text{
        width:572px;;
    }
}
@media (max-width: 401px){
    .Header::after{
        width: 95.4%;
    }
}
@media (max-width: 768px){
    .Header .toggle-menu{
        width: 100%;
        height: 312px;
        right: 0;
    }
    .Header .toggle-menu .ul li:not(:last-child){
        padding: 12px 8px;
    }
    .Header .toggle-menu .arrow{
        right: 10px;
    }
    .Header .toggle-menu .ul li:hover{
        color: var(--color-one);
        padding-left: 3px;
    }
}
.Home{
    background-image: url(./imges/landing.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.text{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background-color: var(--color-two);
    color: white;
    font-family: sans-serif;
    padding: 46px;
}
.text .content h2{
    line-height: 36px;
}
.text .content p{
    line-height: 23px;
}
.Home .right-arrow{
    color: white;
    position: absolute;
    top: 50%;
    font-size: 33px;
    right: 10px;
}
.Home .left-arrow{
    color: white;
    position: absolute;
    top: 50%;
    font-size: 33px;
    left: 10px;
}