*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-one: #19c8fa ;
    --color-two: rgb(15 116 143 / 70%);
    --const-top-bottom-padding: 100px 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.container{
    height: 100vh;
}
.Header{
    display: flex;
    width: 1130px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 12px;
    z-index: 1;
}
.scroll-to-top{
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    color: var(--color-one);
    font-size: 32px;
    z-index: 9999;
    position: fixed;
    display: none;
}
.display-scroll{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    color: var(--color-one);
    font-size: 32px;
    z-index: 9999;
    position: fixed;
}

.overlay{
    position: absolute;
    width: 100%;
    background-color: #00000066;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}
.Header a img{
    height: 40px;
}
.Header::after{
    content: '';
    position: absolute;
    bottom: 4px;
    width: 96%;
    height: 1px;
    background: white;
    z-index: 1;
}
ul{
    list-style: none;
}
.Header ul{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.Header ul li{
    margin-right: 15px;
}
.Header ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    transition: .3s;
    padding: 19px 4px;
}
.Header ul li .active{
    text-decoration: none;
    color:var(--color-one);
    font-size: 14px;
    font-family: sans-serif;
    transition: .3s;
    padding: 19px 4px;
    border-bottom: 1px solid var(--color-one) ;
}
.Header ul li a:hover{
    color: var(--color-one);
    border-bottom: 1px solid var(--color-one) ;
    z-index: 2;
}
.Header ul li i{
    color: white;
    border-left: 3px solid white;
    padding-left: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}
.Header ul li .search:hover{
    color: var(--color-one);
    border-left: 3px solid var(--color-one);
}
.menu{
    color: white;
    display: none;
    cursor: pointer;
}
.menu:hover{
    color: var(--color-one);
}
@media (max-width: 446px){
    .Header::after{
        width: 94.4%;
    }
}
.Header .toggle-menu {
    position: absolute;
    right: 11px;
    top: 54px;
    background: rgb(15 116 143 / 87%);;
    color: white;
    list-style: none;
    width: 166px;
    display: none;
    transition: .3s;
    animation-name: display;
    animation-duration: .6s;
}
@keyframes display {
    from{
        opacity: 50%;
    }
    50%{
        opacity: 75%;
    }
    to{
        opacity: 100%;
    }
}
@media (min-width:750px)and(max-width:1005px) {
    .our-skills{
        flex-direction: column;
    }
}
.Header .hidMenu{
    display: none;
    transition: .5s;
}
.Header .toggle-menu .ul{
    padding: 13px;
    position: relative;
}
.Header .toggle-menu .arrow{
    position: absolute;
    top: -15px;
    font-size: 28px;
    color: rgb(15 116 143 / 87%);;
    right: 1px;
    border-bottom: 1px solid #8f8fff00;
}
.Header .toggle-menu .t-s{
    padding: 10px 0 0 0;
}
.Header .toggle-menu input{
    width: 100%;
    margin: 6px 0 0 6px;
    background-color: #8f8fff99;
    border: 1px solid #00000047;
}
.Header .toggle-menu .search{
    display: flex;
}

.Header .toggle-menu .ul li:not(:last-child){
    padding: 7px 0;
    border-bottom: 1px solid white;
    transition: .3s;
}
.Header .toggle-menu .ul li:hover{
    color: var(--color-one);
    padding-left: 3px;
}
.Header .toggle-menu li a{
    text-decoration: none;
    color: white;
}
.Header .toggle-menu li a:hover{
    color: var(--color-one);
    padding-left: 3px;
}
@media (max-width: 992px) {
    .Header ul{
        display: none;
    }
    .Header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 12px;
    }
    .Header::after{
        width: 97.1%;
    }
    .menu{
        display: block;
    }
    .Header .toggle-menu {
        display: block;
    }
    .text{
        width: 100%;
    }

}
@media (min-width: 992px){
    .text{
        width:572px;;
    }
}
@media (max-width: 401px){
    .Header::after{
        width: 95.4%;
    }
}
@media (max-width: 768px){
    .Header .toggle-menu{
        width: 100%;
        height: 340px;
        right: 0;
    }
    .Header .toggle-menu .ul li:not(:last-child){
        padding: 12px 8px;
    }
    .Header .toggle-menu .arrow{
        right: 10px;
    }
    .Header .toggle-menu .ul li:hover{
        color: var(--color-one);
        padding-left: 3px;
    }
}
.Home{
    background-image: url(./imges/landing.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.text{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background-color: var(--color-two);
    color: white;
    font-family: sans-serif;
    padding: 46px;
}
.text .content h2{
    line-height: 36px;
    margin-bottom: 15px;
}
.text .content p{
    line-height: 23px;
}
.Home .right-arrow{
    color: white;
    position: absolute;
    top: 50%;
    font-size: 33px;
    right: 10px;
}
.Home .left-arrow{
    color: white;
    position: absolute;
    top: 50%;
    font-size: 33px;
    left: 10px;
}
.left-arrow , .right-arrow{
    cursor: pointer;
}
.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.bullet{
    height: 11px;
    margin-right: 9px;
    width: 11px;
    border: 2px solid white;
    border-radius: 50%;
}
.bt-c{
    background-color: var(--color-one);
}
.Services{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.const-div{
    padding:var(--const-top-bottom-padding);
    text-align: center;
}
.const-div h1{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    text-align: center;
}
.const-div h1::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}
.const-div h1::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.Services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    width: 1130px;
    margin: 0 auto 100px auto;
}
.Services-content .ser-box{
    display: flex;
    text-align: initial;
}
.Services-content .ser-box i{
    margin-right: 50px;
}
.Services-content .ser-box .text-cont h2 {
    color: var(--color-one);
    margin-bottom: 30px;
}
.Services-content .ser-box .text-cont p{
    line-height: 30px;
}
.Services-content .ser-box .text-cont p{
    padding: 14px;
}
@media screen and (min-width: 992px) and (max-width: 1132px) { 
    .Header{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .Services-content {
      width: 750px;
    }

  }
@media (min-width: 992px) {
    .Services-content {
      width: 970px;
    }
    .Services-content .ser-box{
        text-align: center;
        flex-direction: column;
    }
  }
  @media (min-width: 1200px) {
    .Services-content {
      width: 1170px;
    }
    .testimonials{
        flex-basis: 500px;
    }
  }
  @media(max-width:768px){
    .Services-content{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .Services-content .ser-box{
        display: flex;
        text-align: center;
        flex-direction: column;
        
    }
    .design .image{
        display: none;
    }
    .Services-content .ser-box i {
        margin-right: 0;
    }
  }
  .design{
    padding-top: var(--const-top-bottom-padding);
    padding-bottom: var(--const-top-bottom-padding);
    height: 600px;
    position: relative;
    background-image: url(./imges/bg-d.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .design img{
    position: relative;
    bottom: -150px;
  }
  .image{
    osition: relative;
    z-index: 2;
    flex: 1;
  }
  .design .design-text{
    color: white;
    padding: 50px;
    background-color:var(--color-two);
    position: relative;
    z-index: 2;
    flex: 1;
    text-align: initial;
  }

.design .design-text ul li i{
    font-size: 19px;
    margin-right: 10px;
}
.design .design-text ul li {
    padding: 10px;
}
.design .design-text h2{
    padding: 10px;
}
.portfolio .const-div{
    text-align: center;
}
.prot-menu{
    display: flex;
    justify-content: center;
}
.prot-menu li{
    padding: 10px;
    cursor: pointer;
}
.prot-menu .active{
    background-color: var(--color-one);
}
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  .portfolio .shuffle{
    display: flex;
    justify-content: center;
  }
  .portfolio .shuffle li{
    padding: 10px;
  }
  .portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
  }
  .portfolio .imgs-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .portfolio .imgs-container .box{
    overflow: hidden;
    position: relative;
  }
  .portfolio .imgs-container .box:hover .caption{
    bottom: 0;
  }
  .portfolio .imgs-container .box:hover img{
    transform: rotate(3deg) scale(1.1);
  }
  @media (min-width: 768px) {
    .portfolio .imgs-container .box {
      flex-basis: 50%;
    }
  }
  @media (min-width: 1199px) {
    .portfolio .imgs-container .box {
      flex-basis: 25%;
    }
  }
  .portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
  }
  .portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
  }
  .portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
  }
  .portfolio .imgs-container .box .caption p {
    color: var(--main-color);
  }
  .portfolio .more {
    background-color: var(--color-one);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
  }
  .About .const-div{
    text-align: center;
    padding: 100px 0 0 0;
}
.const-div p{
    padding: 15px;
}
.About .const-div img{
    margin-top: 100px;
    position: relative;
    bottom: -6px;
}
@media (max-width:1005px){
    .our-skills{
        flex-direction: column;
    }
}
@media (max-width:750px){
    .About .const-div img{
        width: 100%;
    }
    .stats-cont{
        flex-direction: column;
    }
}
.stats{
    display: flex;
    justify-content: center;
    background-image: url(./imges/R.jpeg);
    background-size: cover;
    position: relative;
}
.stats .stats-cont{
    display: flex;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--color-two);
    margin: 55px;
    padding: 21px;
    gap: 32px;
    z-index: 2;
}
.stats .stats-cont .box{
    color: white;
    padding: 25px;
    font-size: 25px;
}
.stats .stats-cont .box .count{
    padding: 10px;
    font-size: 39px;
    font-family: fantasy;
}
.stats .stats-cont .box i{
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    font-size: 18px;
}
.our-skills{
    padding: 100px 0;
    display: flex;
    gap: 100px;
    margin: 0 65px;
    flex-basis: 500px;
}
.our-skills .testimonials .content img{
    height: 100px;
    border-radius: 50%;
    margin-right: 21px;
}
.our-skills .testimonials h3{
    text-align: center;
}
.our-skills .testimonials .content{
    display: flex;
    margin-top: 60px;
    margin-bottom: 40px;
}
.our-skills .testimonials p{
    text-align: center;
    margin: 15px 0 0 0;
    color: #777;
}
.our-skills .testimonials .content .text-skills{
    position: relative;
    border-bottom: 1px solid #777;
    margin-bottom: -49px;
    padding: 20px;
}
.our-skills .testimonials .content .text-skills p{
    position: absolute;
    right: 0;
    bottom: 0;
}
.testimonials{
    position: relative;
    flex-basis: 500px;
}
.our-skills .testimonials .bullets-skills{
    display: flex;
    position: absolute;
    bottom: -52px;
    left: 50%;
}
.our-skills .testimonials .bullets-skills li{
    height: 11px;
    margin-right: 9px;
    width: 11px;
    border: 1px solid black;
    border-radius: 50%;
}
.our-skills .testimonials .bullets-skills .active{
    background-color: var(--color-one);
}
.our-skills .skills  h3{
    text-align: center;
}
.our-skills .skills p{
    text-align: center;
    margin: 15px 0 0 0;
    color: #777;
}
.our-skills .skills .prog-box{
    display: flex;
    margin-top: 60px;
    margin-bottom: 40px;
}
.our-skills .skills .prog-box .prog-holder{
    width: 100%;
}
.prog{
    display: flex;
    align-items: center;
    width: 100%;
}
.prog-box .prog .bar{
    width: 90%;
    height: 25px;
    margin-right: 12px;
    position: relative;
}
.prog-box .prog .bar::after{
    content: '';
    position: absolute;
    height: 100%;
    background-color: var(--color-one);
    left: 0;
    width: 50%;
    animation: progress 1s ease-in-out forwards;
}
@keyframes progress{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
.prog-box .prog .bar-1{
    width: 85%;
    height: 25px;
    margin-right: 12px;
    position: relative;
}
.prog-box .prog .bar-1::after{
    content: '';
    position: absolute;
    height: 100%;
    background-color: var(--color-one);
    left: 0;
    width: 50%;
    animation: progressOne 1s ease-in-out forwards;
}
@keyframes progressOne{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
.prog-box .prog .bar-2{
    width: 80%;
    height: 25px;
    margin-right: 12px;
    position: relative;
}
.prog-box .prog .bar-2::after{
    content: '';
    position: absolute;
    height: 100%;
    background-color: var(--color-one);
    left: 0;
    width: 50%;
    animation: progressTwo 1s ease-in-out forwards;
}
@keyframes progressTwo{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
.prog-box .prog .bar-3{
    width: 85%;
    height: 25px;
    margin-right: 12px;
    position: relative;
}
.prog-box .prog .bar-3::after{
    content: '';
    position: absolute;
    height: 100%;
    background-color: var(--color-one);
    left: 0;
    width: 50%;
    animation: progressThree 1s ease-in-out forwards;
}
@keyframes progressThree{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
.quote {
    background-image: url("../src/imges/quote.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
  }
  .quote .content {
    position: relative;
    padding: 100px;
  }
  .quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
  }
  .pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  .pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
  .pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
  }
  .pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--color-one);
    border-bottom: 1px solid var(--color-one);
  }
  .pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
  }
  .pricing .plans .plan .head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
  }
  .pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
  }
  .pricing .plans .plan ul {
    border-bottom: 1px solid var(--color-one);
  }
  .pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
  }
  .pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--color-one);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  .pricing .plans .plan .foot a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--color-one);
    width: fit-content;
    margin: 30px auto;
  }
  .pricing .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
  }
  .pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--color-one);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
  }
  .subscribe {
    background-image: url("../src/imges/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
  }
  .subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  .subscribe .contente {
    position: relative;
    display: flex;
    align-items: center;
    padding: 100px ;
  }
  @media (max-width: 991px) {
    .subscribe .contente {
      flex-direction: column;
    }
  }
  .subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
  }
  .subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
  }
  .subscribe form input[type="email"] {
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--color-one);
    width: calc(100% - 130px);
  }
  .subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--color-one);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
  }
  .subscribe form input[type="email"]:focus,
  .subscribe form input[type="submit"]:focus {
    outline: none;
  }
  .subscribe form ::placeholder {
    color: white;
  }
  .subscribe p {
    line-height: 2;
    margin-left: 50px;
  }
  @media (max-width: 991px) {
    .subscribe p {
      margin: 30px 0 0;
    }
  }
  .subscribe input{
    cursor: pointer;
  }
  .contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}
.contact {
padding: 0 100px 100px 100px ;
  }
  .contact .content {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .contact .content {
      flex-direction: column;
    }
  }
  .contact .content form {
    flex-basis: 70%;
  }
  .contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
  }
  .contact .content form .main-input:focus {
    outline: none;
  }
  .contact .content form textarea.main-input {
    height: 200px;
  }
  .contact .content form input[type="submit"] {
    background-color: var(--color-one);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
  }
  .contact .content .info {
    flex-basis: 25%;
  }
  @media (max-width: 767px) {
    .contact .content .info {
      order: -1;
      text-align: center;
    }
  }
  .contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
  }
  .contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
  }
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
  }
  @media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
      margin-top: 30px;
    }
  }
  .contact .content .info address {
    color: #777;
    line-height: 2;
  }
  .contact .content textarea{
    resize: none;
  }
  @media (max-width: 767px) {
    .contact .content .info address {
      margin-bottom: 40px;
    }
  }
  .footer {
    background-image: url("../src/imges/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
  }
  .footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  }
  .footer .footer-content {
    position: relative;
    padding: 50px;
  }
  .footer img {
    margin-bottom: 20px;
  }
  .footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
  }
  .footer .social-icons i {
    padding: 10px 15px;
    cursor: pointer;
  }
  .footer .copyright {
    margin-top: 60px;
  }
  .footer .copyright span {
    font-weight: bold;
    color: var(--color-one);
  }
  .pricing .pricing-content{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .pricing .pricing-content {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .pricing .pricing-content {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .pricing .pricing-content {
      width: 1170px;
    }
  }